<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
<h1>{{ page_title }}</h1>
<ul>
    {% for post in posts %}
        <li><a href="{{ path('post', {'id': post.id}) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
</body>
</html>