<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
<h2>Connexion</h2>
{% if message is defined %}
    <p>{{ message }}</p>
{% endif %}
<form action="{{ path('login') }}" method="post">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>


    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Se connecter">
</form>
<p>Pas encore inscrit ? <a href="{{ path('register') }}">S'inscrire</a></p>
</body>
</html>